.banner {
  padding: 1.5rem;
  height: 10rem;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  h1 {
    font-size: 4rem;
    color: white;
  }
}
